.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 98vh;
  margin: 0 15%;
}

.sidebar {
  background-color: #3f0e40;
  width: 25%;
  height: 100%;
  min-width: 250px;
}

.content {
  width: 77%;
  display: flex;
  flex-direction: column;
}

.message-content {
  width: auto;
  height: 90vh;
  padding: 10px;
}

.message-content p {
  border: 1px solid black;
  text-align: start;
  color: #fff;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  max-width: 65%;
}

.message-content {
}

.themselves-message {
  background-color: rgb(188, 194, 203);
}

.yourself-message {
  background-color: #3f0e40;
  margin-left: auto;
}

.typing-wrapper {
  height: auto;
  position: relative;
}

.typing-wrapper textarea:focus-visible {
  outline-offset: unset;
}

.message-input {
  font-size: 0.9rem;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.send-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 10px;
  background-color: #7e20d6;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.section {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  color: #fff;
  padding-left: 10px;
}

.section:hover {
  background-color: rgb(84, 77, 77);
}

.status {
  height: 15px;
  width: 15px;
  background-color: #e38968;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.online {
  background-color: #86bb71;
}
